* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* NAVIGATION BAR */

.navbar {
    width: auto;
    background-color: #353535;
}

.nav {
    width: 850px;
    margin: 0 auto;
    height: 66px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    margin-left: 15px;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

.btn {
    height: 28px;
    width: 90px;
    background-color: rgb(38, 194, 134);
    color: white;
    border: none;
    font-size: 15px;
    box-shadow: 4px 4px black;
}

/* USER CARD */
/* body {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.cointainer {
    width: 1080px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-2, .col {
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.col-2 {
    flex: 2
}


.greenbar {
    background-color: rgb(41, 105, 201);
    display: block;
    height: 70px;
    align-items: center;
}


.nametag-card {
    background-color: rgb(241, 241, 241);
    width: 450px;
    height: 290px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: lightgray;
    margin-bottom: 10px;
    margin-top: 0.2px;
}

img {
    height: 71px;
    padding: 2.3em;
    margin-left: -4px;
    border-width: 1px;
    border-radius: 50%;
    border-color: black;

}

.info {
    padding-left: 2em;
    padding-top: 3em;
}

.name {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

.edit-profile {
    padding-top: 1em;
    font-size: 13px;
    text-decoration: underline;
}

/* .colums {
    display: block;
} */

/* EDUCATION BAR */

.education-card {
    background-color: rgb(241, 241, 241);
    width: 450px;
    height: 350px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: lightgray;
    margin-bottom: 5px;
}

.greybar {
    background-color: rgb(56, 55, 55);
    display: block;
    height: 40px;
    text-align: left; 
}

.education-title {
    font-size: 20px;
    color: white;
    padding-top: 15px;
    padding-left: 18px;
}

.education-history {
    width: 400px;
    height: 330px;
    padding-left: 2em;
    padding-top: 3em;
}

.school {
    font-size: 19px;
}

.dates {
    font-weight: 10px;
    color: rgb(118, 119, 119);
}

.record {
    margin-bottom: 8px;
}

.requests {
    background-color: rgb(241, 241, 241);
    width: 290px;
    height: 240px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: lightgray;
    margin-bottom: 5px;
}

.con-title {
    font-size: 20px;
    color: white;
    padding-top: 15px;
    padding-left: 18px;
}

.greybar2 {
    background-color: rgb(56, 55, 55);
    display: block;
    height: 40px;
    text-align: left; 
}

.friends {
    background-color: rgb(241, 241, 241);
    width: 290px;
    height: 290px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: lightgray;
    margin-bottom: 5px;
}

.friends-title {
    font-size: 20px;
    color: white;
    padding-top: 15px;
    padding-left: 18px;
}

.avatar-s {
    border-radius: 50%;
    height: 48px;
    margin-right: 10px;
}

.user-line {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.start, .end {
    display: flex;
    align-items: center;
    font-size: 24px;
}

